{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> equipes  Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td>nom: {{ detail_equipe.nom }}</td>
                        <br>
                        <td>projet: {{ detail_equipe.projet }}</td>
                        <br>
                        <td>image: {{detail_equipe.image }}</td>
                        <br>
                       
                       
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
   
</div>



{% endblock %}

